<div class="container">  
    
  <h1> Company Dashboard </h1>  
  <nav class = "navbar">
    <input class="form-control" type="text" name="companyName" [(ngModel)]="companyName" (ngModelChange)="Search()"
    placeholder="Enter company name to search">
  </nav>
  <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>COMPANYID</th>  
          <th>TEL</th>  
          <th>ADDRESS</th>  
          <th>cOMPANY NAME</th>  
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let company of companies">  
        <td>{{ company.companyId }}</td>  
        <td>{{ company.tel }}</td>  
        <td>{{ company.address }}</td>  
        <td>{{ company.companyName }}</td>  
      </tr>  
    </tbody>  
  </table>  
</div>  